<app-admin-dash></app-admin-dash>

<main class="offcanvas-enabled" style="padding-top: 5rem;">
  <section class="ps-lg-4 pe-lg-3 pt-4">
    <div class="px-3 pt-2">
    <div>
    <h2>Modifier <span class="badge bg-primary">{{currentUser.username}}</span></h2>
    </div>
    <form >
    <div class="col-sm-2 col-md-2 col-lg-2">
        
        <input hidden type="text" [(ngModel)]="currentUser.user_id"
        name="user_id" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom user</label>
        <input type="text"[(ngModel)]= "currentUser.username"
        name="username" class="form-control">
    </div>
   

    <div class="col-sm-4 col-md-4 col-lg-4 mt-4 mb-3">
        <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" [(ngModel)]= "currentUser.enabled" name="enabled">

            <label *ngIf="currentUser.enabled" class="form-controlcheck-label" for="customSwitch1"> Activé</label>
            <label *ngIf="!currentUser.enabled" class="form-controlcheck-label" for="customSwitch1"> Deactivé</label>
          </div>
    </div>
     

    <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom user</label>
        <input type="text"[(ngModel)]= "currentUser.password"
        name="password" class="form-control">
    </div>
    
    

   <div class="col-sm-4 col-md-4 col-lg-4">
            <label >roles</label>
            <span class="badge bg-primary" *ngFor="let r of currentUser.roles"> {{r.role}}  </span>
    </div>  
    <div class="mt-2 mb-5">
    <button type="submit" (click)="updateUser()" class="btn btn-success">Modifer</button>
    </div>
    </form>
</div>


</section>
</main>
