<div *ngIf="!authService.isAdmin()">
<header class="shadow-sm">
  <!-- Topbar-->
  <div class="topbar topbar-dark bg-dark">
    <div class="container">
      <div class="topbar-text dropdown d-md-none"><a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Useful links</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="tel:00331697720"><i class="ci-support text-muted me-2"></i>++(216) 52 *** 720</a></li>
          <li><a class="dropdown-item" href="order-tracking.html"><i class="ci-location text-muted me-2"></i>Order tracking</a></li>
        </ul>
      </div>
      <div class="topbar-text text-nowrap d-none d-md-inline-block"><i class="ci-support"></i><span class="text-muted me-1">Support</span><a class="topbar-link" href="tel:00331697720">(216) 52 *** 720</a></div>
      <div class="tns-carousel tns-controls-static d-none d-md-block">
        <div class="tns-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false}">
          <div class="topbar-text">Free shipping for order over $200</div>
          <div class="topbar-text">We return money within 30 days</div>
          <div class="topbar-text">Friendly 24/7 customer support</div>
        </div>
      </div>
      <div class="ms-3 text-nowrap"><a class="topbar-link me-4 d-none d-md-inline-block" href="order-tracking.html"><i class="ci-location"></i>Suivi de commande</a>
       
      </div>
    </div>
  </div>
  <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
  <div class="navbar-sticky bg-light">
    <div class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand d-none d-sm-block flex-shrink-0" href="index.html"><img src="assets/HG-DEV.png" width="142" alt="Cartzilla"></a>
        <a class="navbar-brand d-sm-none flex-shrink-0 me-2" href="index.html"><img src="assets/HG-DEV.png" width="74" alt="Cartzilla"></a>
       <!-- Search-->
       
        <app-search></app-search>
       <!--end search-->
        <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button><a class="navbar-tool navbar-stuck-toggler" href="#"><span class="navbar-tool-tooltip">Expand menu</span>
            <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-menu"></i></div></a><a class="navbar-tool d-none d-lg-flex" href="account-wishlist.html"><span class="navbar-tool-tooltip">Wishlist</span>
            <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-heart"></i></div></a>
            
           
 <!-- user menu-->
           

            <div class="navbar-tool dropdown ms-2"><a class="navbar-tool-icon-box border dropdown-toggle" >
              <i class="navbar-tool-icon ci-user"></i></a>
              <a class="navbar-tool-text ms-n1" ><small>Bonjour, {{authService.loggedUser}}  </small>Mon compte</a>
              <div class="dropdown-menu dropdown-menu-end">
                <div style="min-width: 14rem;">
                  <h6 class="dropdown-header">compte</h6>
                  <a  *ngIf="authService.isAdmin()" class="dropdown-item d-flex align-items-center" routerLink = "/dashbord"><i class="ci-menu-circle opacity-60 me-2"></i>admin Dashboard</a>
                  <a  *ngIf="authService.isloggedIn" class="dropdown-item d-flex align-items-center" routerLink = "/myorders/{{authService.loggedUser}}"><i class="ci-settings opacity-60 me-2"></i>Mes commandes</a>
                 
                  <a  *ngIf="authService.isloggedIn" class="dropdown-item d-flex align-items-center" routerLink = "/info/{{authService.loggedUser}}"><i class="ci-settings opacity-60 me-2"></i>Changer mes informations</a>
                   <a  *ngIf="authService.isloggedIn" class="dropdown-item d-flex align-items-center" routerLink = "/password/{{authService.loggedUser}}"><i class="ci-settings opacity-60 me-2"></i>Changer mon mot de pass</a>
                  <a *ngIf="!authService.isloggedIn" class="dropdown-item d-flex align-items-center" routerLink = "login"><i class="ci-settings opacity-60 me-2"></i>Connexion</a>
                    <a *ngIf="!authService.isloggedIn" class="dropdown-item d-flex align-items-center" routerLink = "register"><i class="ci-basket opacity-60 me-2"></i>Inscription</a>
                  <div class="dropdown-divider"></div>
                  <div class="dropdown-divider"></div><a  *ngIf="authService.isloggedIn" class="dropdown-item d-flex align-items-center" (click) = "onLogout()"><i class="ci-sign-out opacity-60 me-2"></i>Deconnecter</a>
                </div>
              </div>
            </div>
       <!-- end user menu-->   
         
       <!-- Cart dropdown-->
         <app-cart-status></app-cart-status>
 <!-- end dropdown-->

        </div>
      </div>
    </div>
    <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <!-- Search-->
          <div class="input-group d-lg-none my-3"><i class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
            <input class="form-control rounded-start" type="text" placeholder="Search for products">
          </div>
          <!-- Departments menu-->
          <ul class="navbar-nav navbar-mega-nav pe-lg-2 me-lg-2">
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle ps-lg-0" href="#" data-bs-toggle="dropdown"><i class="ci-view-grid me-2"></i>soon</a>
              <div class="dropdown-menu px-2 pb-4">
                <div class="d-flex flex-wrap flex-sm-nowrap">
                  <div class="mega-dropdown-column pt-3 pt-sm-4 px-2 px-lg-3">
                    <div class="widget widget-links"><a class="d-block overflow-hidden rounded-3 mb-3" href="#"><img src="assets/img/shop/departments/01.jpg" alt="Clothing"></a>
                      <h6 class="fs-base mb-2">Clothing</h6>
                      <ul class="widget-list">
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Women's clothing</a></li>
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Men's clothing</a></li>
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Kid's clothing</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="mega-dropdown-column pt-4 px-2 px-lg-3">
                    <div class="widget widget-links"><a class="d-block overflow-hidden rounded-3 mb-3" href="#"><img src="assets/img/shop/departments/02.jpg" alt="Shoes"></a>
                      <h6 class="fs-base mb-2">Shoes</h6>
                      <ul class="widget-list">
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Women's shoes</a></li>
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Men's shoes</a></li>
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Kid's shoes</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="mega-dropdown-column pt-4 px-2 px-lg-3">
                    <div class="widget widget-links"><a class="d-block overflow-hidden rounded-3 mb-3" href="#"><img src="assets/img/shop/departments/03.jpg" alt="Gadgets"></a>
                      <h6 class="fs-base mb-2">Gadgets</h6>
                      <ul class="widget-list">
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Smartphones &amp; Tablets</a></li>
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Wearable gadgets</a></li>
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">E-book readers</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-wrap flex-sm-nowrap">
                  <div class="mega-dropdown-column pt-4 px-2 px-lg-3">
                    <div class="widget widget-links"><a class="d-block overflow-hidden rounded-3 mb-3" href="#"><img src="assets/img/shop/departments/04.jpg" alt="Furniture"></a>
                      <h6 class="fs-base mb-2">Furniture &amp; Decor</h6>
                      <ul class="widget-list">
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Home furniture</a></li>
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Office furniture</a></li>
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Lighting and decoration</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="mega-dropdown-column pt-4 px-2 px-lg-3">
                    <div class="widget widget-links"><a class="d-block overflow-hidden rounded-3 mb-3" href="#"><img src="assets/img/shop/departments/05.jpg" alt="Accessories"></a>
                      <h6 class="fs-base mb-2">Accessories</h6>
                      <ul class="widget-list">
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Hats</a></li>
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Sunglasses</a></li>
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Bags</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="mega-dropdown-column pt-4 px-2 px-lg-3">
                    <div class="widget widget-links"><a class="d-block overflow-hidden rounded-3 mb-3" href="#"><img src="assets/img/shop/departments/06.jpg" alt="Entertainment"></a>
                      <h6 class="fs-base mb-2">Entertainment</h6>
                      <ul class="widget-list">
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Kid's toys</a></li>
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Video games</a></li>
                        <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Outdoor / Camping</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <!-- Primary menu-->
          <ul class="navbar-nav">
            <li class="nav-item dropdown"><a class="nav-link " routerLink="home" >Acceuil</a>
             
            </li>
              <!-- all product-->
            <li class="nav-item dropdown "><a class="nav-link " routerLink="/produits" >Boutique</a>
              
            </li>
            
            <li class="nav-item dropdown">
              <a type="button" class="nav-link" style="border:0" routerLink="/produitpromo">
                <i class=" ci-discount text-danger"></i> Promotion   <span class="badge bg-success ms-1 rounded-circle">{{produits.length}}</span>
              </a>
              
              
            </li>
          
           

                 


           

          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
</div>

<div *ngIf="authService.isAdmin()">
  <header class="bg-light shadow-sm fixed-top" data-fixed-element>
    
    <div class="navbar navbar-expand-lg navbar-light ">
      <div class="container-fluid">
        <a class="navbar-brand d-none d-sm-block me-3 me-xl-4 flex-shrink-0" href="index.html">
        ADMIN
      </a>
        <a class="navbar-brand d-sm-none me-2" href="index.html">
          <!-- <img src="img/logo-icon.png" width="74" alt="Cartzilla"> -->
          ADMIN
        </a>
       <!-- menu-->
        
        <!-- Collapsible menu -->
      <div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
        <hr class="d-lg-none my-3">
        <ul class="navbar-nav">
          <li class="nav-item dropdown"><a class="nav-link " routerLink="home" >Acceuil</a>
           
          </li>
            <!-- all product-->
          <li class="nav-item dropdown "><a class="nav-link " routerLink="/produits" >Boutique</a>
            
          </li>    
          
          <li class="nav-item dropdown"><a class="nav-link " routerLink="/produitpromo" >Promotion</a>
              
          </li>

        </ul>
      </div>
       
        <!-- Search-->
        <div class="input-group  d-flex ">
         
          <app-search-simple></app-search-simple>
        </div>
          <!-- Toolbar -->
      <div class="navbar-toolbar d-flex align-items-center order-lg-3">
     
     
        <div class="navbar-tool dropdown ms-2"><a class="navbar-tool-icon-box border dropdown-toggle" >
          <i class="navbar-tool-icon ci-user"></i></a>
          <a class="navbar-tool-text ms-n1" ><small>Bonjour mr, {{authService.loggedUser}}  </small>Mon compte</a>
          <div class="dropdown-menu dropdown-menu-end">
            <div style="min-width: 14rem;">
              <h6 class="dropdown-header">Compte</h6>
              <a  *ngIf="authService.isAdmin()" class="dropdown-item d-flex align-items-center" routerLink = "/dashbord"><i class="ci-menu-circle opacity-60 me-2"></i>admin Dashboard</a>
              <a  *ngIf="authService.isloggedIn && !authService.isAdmin()" class="dropdown-item d-flex align-items-center" routerLink = "/myorders/{{authService.loggedUser}}"><i class="ci-settings opacity-60 me-2"></i>Mes commandes</a>
              <a  *ngIf="authService.isloggedIn" class="dropdown-item d-flex align-items-center" routerLink = "/password/{{authService.loggedUser}}"><i class="ci-settings opacity-60 me-2"></i>Changer mon mot de pass</a>
              <a  *ngIf="authService.isloggedIn" class="dropdown-item d-flex align-items-center" routerLink = "/info/{{authService.loggedUser}}"><i class="ci-settings opacity-60 me-2"></i>Changer mes informations</a>
              <a *ngIf="!authService.isloggedIn" class="dropdown-item d-flex align-items-center" routerLink = "login"><i class="ci-settings opacity-60 me-2"></i>Connexion</a>
                <a *ngIf="!authService.isloggedIn" class="dropdown-item d-flex align-items-center" routerLink = "register"><i class="ci-basket opacity-60 me-2"></i>Inscription</a>
              <div class="dropdown-divider"></div>
              <div class="dropdown-divider"></div><a  *ngIf="authService.isloggedIn" class="dropdown-item d-flex align-items-center" (click) = "onLogout()"><i class="ci-sign-out opacity-60 me-2"></i>logout</a>
            </div>
          </div>
        </div>
     
     
    </div>
      </div>
    </div>   
  </header>
  <br> <br><br> 
  </div>
  
<router-outlet>
  
</router-outlet>


<footer *ngIf="!authService.isAdmin()" class="footer bg-dark pt-5">
 
  <div class="pt-5 bg-darker">
    <div class="container">
     
      <div class="d-none d-lg-block">
        <!-- Button -->
        <a class="icon-md btn btn-primary position-fixed end-0 bottom-0 me-5 mb-5" data-bs-toggle="offcanvas" href="#offcanvasChat" role="button" aria-controls="offcanvasChat">
          <i class="bi bi-chat-left-text-fill"></i> Poser une question
        </a>
        <!-- Chat sidebar START -->
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasChat">
          <!-- Offcanvas header -->
          <div class="offcanvas-header d-flex justify-content-between">
            <h5 class="offcanvas-title">Messaging</h5>
            <div class="d-flex">
              <!-- New chat box open button -->
              <a href="#" class="btn btn-secondary-soft-hover py-1 px-2">
                <i class="bi bi-pencil-square"></i>
              </a>
              <!-- Chat action START -->
              <div class="dropdown">
                <a href="#" class="btn btn-secondary-soft-hover py-1 px-2" id="chatAction" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots"></i>
                </a>
                <!-- Chat action menu -->
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="chatAction">
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-check-square fa-fw pe-2"></i>Mark all as read</a></li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-gear fa-fw pe-2"></i>Chat setting </a></li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-bell fa-fw pe-2"></i>Disable notifications</a></li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-volume-up-fill fa-fw pe-2"></i>Message sounds</a></li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-slash-circle fa-fw pe-2"></i>Block setting</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-people fa-fw pe-2"></i>Create a group chat</a></li>
                </ul>
              </div>
              <!-- Chat action END -->
              
              <!-- Close  -->
              <a href="#" class="btn btn-secondary-soft-hover py-1 px-2" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="fa-solid fa-xmark"></i>
              </a>
      
            </div>
           
             
          </div>
          <!-- Offcanvas body START -->
        
          <!-- Offcanvas body END -->
        </div>
        <!-- Chat sidebar END -->
      
        <!-- Chat END -->
      
        <!-- Chat END -->
      
      </div>
    
      <div class="row pb-2">
        <div class="col-md-6 text-center text-md-start mb-4">
          <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 me-3" href="#"><img class="d-block" src="assets/HG-DEV.png" width="117" alt="Cartzilla"></a>
           
          </div>
          <div class="widget widget-links widget-light">
            <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
            
              <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Support</a></li>
              <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Privacy</a></li>
              <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Terms of use</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 text-center text-md-end mb-4">
          <div class="mb-3"><a class="btn-social bs-light bs-twitter ms-2 mb-2" href="#"><i class="ci-twitter"></i></a><a class="btn-social bs-light bs-facebook ms-2 mb-2" href="#"><i class="ci-facebook"></i></a><a class="btn-social bs-light bs-instagram ms-2 mb-2" href="#"><i class="ci-instagram"></i></a><a class="btn-social bs-light bs-pinterest ms-2 mb-2" href="#"><i class="ci-pinterest"></i></a><a class="btn-social bs-light bs-youtube ms-2 mb-2" href="#"><i class="ci-youtube"></i></a></div><img class="d-inline-block" src="assets/img/cards-alt.png" width="187" alt="Payment methods">
        </div>
      </div>
      <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© All rights reserved. <a class="text-light" href="https://createx.studio/" target="_blank" rel="noopener"> </a></div>
    </div>
  </div>
</footer>


