<div class="container mt-5 mb-5 mb-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
          <h6>Inscription</h6>
            <form>
                <div class="form-group">
                    <label>Nom Utilisateur :</label>
                    <input type="text" name="username" class="form-control" [(ngModel)]="newUser.username">
                </div>

                <div class="form-group">
                    <label>Email :</label>
                    <input type="text" name="username" class="form-control" [(ngModel)]="newUser.email">
                </div>

                <div class="form-group">
                    <label>Nom :</label>
                    <input type="text" name="username" class="form-control" [(ngModel)]="newUser.firstname">
                </div>

                <div class="form-group">
                    <label>Prenom :</label>
                    <input type="text" name="username" class="form-control" [(ngModel)]="newUser.lastname">
                </div>

                <div class="form-group">
                    <label>Mot de passe :</label>
                    <input type="password" name="password" [(ngModel)]="newUser.password" class="form-control">
                </div>
                <!--  <div class="form-group">
                    <label for="" class="form-label">promotion </label>
                     <input type="checkbox" [(ngModel)]="newUser.enabled" class="form-check">
                </div>  -->

                <div class="row mt-3">
                    <button type="button" (click)="register()" class="btn btn-success btn-block">inscrire</button>
                </div>
            </form>
        </div>
    </div>
</div>